div#login-page {
    height: 800px;
    display: flex;
}

.left-half,
.right-half {
    width: 50%;

    display: flex;
    justify-content: center;
}

div#login-page .left-half {
    background-color: #eee;
    display: block;
    padding: 44px;
}

