<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Your GitHub Stat Web Service</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
    <script src="https://d3js.org/d3.v7.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{{ url_for('static', filename='js/utils.js') }}"></script>
  </head>
  <body>
    <header>
      <!-- NAV -->
      <nav class="header">
        <div class="logo">
          <a href="{{ url_for('index') }}">
            <img
              src="{{ url_for('static', filename='images/ghs-logo.svg') }}"
              alt="logo"
              width="80"
            />
          </a>
        </div>

        <form method="POST" action="/search" class="search-form">
            {{ form.hidden_tag() }}
            {{ form.gh_username(class="search-input", placeholder="Enter a Github username") }}
            <button type="submit" class="search-button">Search</button>
        </form>

        <ul class="nav-links">
          <li><a href="https://analytics-github.vercel.app/#about">About</a></li>
          {% if not current_user.is_authenticated %}
          <li>
            <a href="{{ url_for('login') }}" class="button-cta cta-stroked"
              >Sign in</a
            >
          </li>
          <li>
            <a href="{{ url_for('register') }}" class="button-cta">Sign up</a>
          </li>
          {% endif %} {% if current_user.is_authenticated %}
            <div class="user-icon"></div>
            <li class="user-icon-detail">
              <a href="{{ url_for('search') }}">history</a>
              <a href="#" class="settings">settings</a>
              <a href="{{ url_for('logout') }}">Logout</a>
            </li>

            <!-- Dialog -->
            <div class="overlay" id="dialogOverlay">
              <div class="dialog">
                  <span class="close-btn">&times;</span>
                  <h2>Settings</h2>
                  <div class="row">
                    <input type="text" placeholder="set GitHub token" class="inline-input" id="token"/>
                    <a href="#" class="button-toggle" id="set-key">set token</a>
                  </div>
                  <hr>
                  <div class="row">
                    <p>Clear search history</p>
                    <a href="#" class="button-toggle">clear</a>
                  </div>
                  <hr>
                  <div class="row">
                    <p>Change theme</p>
                    <a href="#" class="button-toggle">dark mode</a>
                  </div>
                  <hr>
                  <div class="row">
                    <p>Delete account</p>
                    <a href="#" class="button-toggle" style="background-color: darkred;">Delete</a>
                  </div>
              </div>
            </div>

          {% endif %}
        </ul>
      </nav>
      <!-- END OF NAV -->
    </header>

    {% with messages = get_flashed_messages(with_categories=true) %} {% if
    messages %}
    <div>
      {% for category, message in messages %}
      <p class="alert alert-{{ category }}">{{ message }}</p>
      {% endfor %}
    </div>
    {% endif %} {% endwith %} {% block content %}{% endblock %}

    <!-- FOOTER -->
    <footer class="footer">
      <p>
        Created with 💖 by <a href="https://github.com/Yantiomene">@Yaninthé</a>,
        <a href="https://github.com/esmond-adjei">@esmond-adjei</a>,
        <a href="https://github.com/GHMatrix">@GHMensah</a>
      </p>
      <span>© 2023 GitHub Stats</span>
    </footer>
    <!-- END OF FOOTER -->
  </body>
</html>
