<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Register | Your GitHub Stat Web Service</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
  </head>
  <body>

  <div id='login-page'>
        <div class='left-half'>
        <div class="histo">
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
        </div>
        </div>

        <div class='right-half'>

            <div class="auth-card">
                <h2>Sign in</h2>
                <form method="POST">
                    {{ form.hidden_tag() }}
                    <div class="form-group">
                        {{ form.username(class="form-control", placeholder="username") }}
                    </div>
                    <div class="form-group">
                        {{ form.password(class="form-control", placeholder="password") }}
                    </div>
                    <div class="form-check">
                        {{ form.remember_me(class="form-check-input") }}
                        {{ form.remember_me.label(class="form-check-label") }}
                    </div>
                    <input type="submit" class="button-cta" value='sign in'/>
                </form>
                <div class="small-text">
                    <small>
                    Do not have an account? <a href="{{ url_for('register') }}">Sign up</a> for free.
                    </small>
                </div>
            </div>
        </div>

    </div>


    <!-- FOOTER -->
    <footer class="footer">
        <p>
        Created with 💖 by <a href="https://github.com/yaninth0" target="_blank">@Yaninthé</a>,
            <a href="https://github.com/esmond-adjei" target="_blank">@esmond-adjei</a>,
            <a href="https://github.com/GHMensah" target="_blank">@GHMensah</a>
        </p>
        <span>© 2023 GitHub Stats</span>
    </footer>
      <!-- END OF FOOTER -->
    </body>
  </html>
