{% extends "base.html" %}
{% block content %}
<div id="search-page">
    <div class='welcome'>
        <h1>Welcome {{username}} 👋</h1>
        <p>enjoy digging into the analytics of your github user of interest</p>
    </div>


    <form method="POST" class="search-form">
      {{ form.hidden_tag() }}
      {{ form.gh_username(class="search-input", placeholder="Enter a Github username") }}
      <button type="submit" class="search-button">Search</button>
    </form>

  
    <div class='recent-searches'>
      <h1>Recent Searches</h1>
      <div class='snapshot__container'>
            {% if recent_searches %}
              {% for search in recent_searches %}
              <div class="snapshot-card">

                <div class="snapshot-card__profile">
                  <a href="{{ url_for('view_dashboard', username=search.gh_username) }}">
                    <img
                      src="{{ search.avatar_url }}"
                      class="snapshot-card__img-top"
                      alt="{{ search.gh_username }} Dashboard"
                      width="100px"
                    />
                    <h3 class="snapshot-card__title">{{ search.gh_username }}</h3>
                  </a>
                </div>

                <div class="snapshot-card__body">
                  <p class="snapshot-card__text">
                    <span class="big-text">{{ search.repos_count }}</span>
                    repositories
                  </p>
          
                  <p class="snapshot-card__text">
                    <span class="big-text">{{ search.commits_count }}</span>
                    <span>
                      commits <br />
                      <span class="small-text">*365 days</span>
                    </span>
                  </p>
          
                  <p class="snapshot-card__text">
                    Search Date: {{ search.timestamp }}
                  </p>
                </div>

                  <a
                  href="{{ url_for('view_dashboard', username=search.gh_username) }}"
                  class="button-cta inv leave-button"
                    >
                  <span>&#8599;</span>
                </a>
              </div>
              {% endfor %}
            {% else %}
            <p>No recent search, let's start with our first query: Enter a Github username</p>
            {% endif %}
      </div>
    </div>
</div>
{% endblock %}
